@import '../../node_modules/vuetify-scss/main.scss';



@font-face {
    font-family: google-sans;
    src: url(../../public/GoogleSans-Regular.ttf);
}

.google-font{
    font-family: google-sans !important;
};

a {
    text-decoration: none !important;
}
